/*
Syntax error: Undefined variable: "$cloud".
        on line 18 of _pushmenu.sass

13:     display: block
14:     color: #282828
15:     font-size: 1.1em
16:     font-weight: 300
17:     &:hover
18:       background: $cloud
19:     &:active
20:       background: #afdefa
21:       color: #47a3da
22: 
23: /* Orientation-dependent styles for the content of the menu

Backtrace:
_pushmenu.sass:18
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/script/variable.rb:49:in `_perform'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/script/node.rb:40:in `perform'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `map'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `map'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `map'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `map'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/tree/root_node.rb:20:in `render'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/engine.rb:315:in `_render'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/engine.rb:262:in `render'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:201:in `each'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/plugin.rb:81:in `update_stylesheets'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/exec.rb:443:in `watch_or_update'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/exec.rb:326:in `process_result'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/exec.rb:41:in `parse'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/lib/sass/exec.rb:21:in `parse!'
C:/bin/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.17/bin/sass:13:in `<top (required)>'
C:/bin/Ruby200/bin/sass:23:in `load'
C:/bin/Ruby200/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$cloud\".\A         on line 18 of _pushmenu.sass\A \A 13:     display: block\A 14:     color: #282828\A 15:     font-size: 1.1em\A 16:     font-weight: 300\A 17:     &:hover\A 18:       background: $cloud\A 19:     &:active\A 20:       background: #afdefa\A 21:       color: #47a3da\A 22: \A 23: /* Orientation-dependent styles for the content of the menu"; }
